<h1>Listing Browsers</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Browser</th>
      <th>Mobile Experience</th>
      <th>Remote</th>
      <th>Human name</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @browsertypes.each do |browsertype| %>
      <tr>
        <td><%= browsertype.browser %></td>
        <td class="<%= browsertype.device_type == 0 ? 'danger' : 'success'  %>"><%= browsertype.device_type == 0 ? 'No' : 'Yes' %></td>
        <td class="<%= browsertype.remote == 0 ? 'danger' : 'success'  %>"><%= browsertype.remote == 0 ? 'No' : 'Yes'  %></td>
        <td><%= browsertype.human_name %></td>
        <td class="<%= browsertype.active == 0 ? 'danger' : 'success'  %>"><%= browsertype.active == 0 ? 'No' : 'Yes'  %></td>
        <td><%= link_to 'Show', browsertype, :class => 'btn btn-success' %></td>
        <td><%= link_to 'Edit', edit_browsertype_path(browsertype), :class => 'btn btn-warning' %></td>
        <td><%= link_to 'Remove', browsertype, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Browsertype', new_browsertype_path, :class => "btn btn-success" %>
