<h1>Listing Error Messages</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Message</th>
      <th>Class name</th>
      <th>Testrun (buyflow)</th>
      <th>Test run (pixel/vanity/uci)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @error_messages.each do |error_message| %>
      <tr>
        <td><%= error_message.message %></td>
        <td><%= error_message.class_name %></td>
        <td><%= error_message.testrun.id if error_message.testrun %></td>
        <td><%= error_message.test_run.id if error_message.test_run %></td>
        <td><%= link_to 'Show', error_message, :class => 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
